:root {
  --bg-light-default: #ffffff;
  --bg-light-header: #ffffff;
  --txt-black-darkest: #000000d9;
  --txt-black-darker: #00000099;
  --txt-black-dark: #00000066;
  --txt-white-normal: #ffffff;
}
