/* animations */
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.unwa-panel {
  width: 100%;
  height: 100%;
}

/* login container */

.unwa-login {
  border-radius: 15px !important;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('	https://static.solved.ac/site_main_graphic_1.png');
  background-size: center;
  background-position: center;
  animation: fadein 0.75s ease-in-out forwards;
}

.unwa-login::before {
  content: '';
  position: absolute;
  border-radius: 15px !important;
  width: 100%;
  height: 100%;

  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1));
  z-index: -1;
  /* background: -webkit-gradient(linear, 0% 50%, 0% 0%, from(rgba(0, 0, 0, 0.4)), to(rgb(0, 0, 0, 1))); */
}

.unwa-login-button {
  padding: 0.5rem 1rem;
  margin: 0px 30px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border: 1px solid #ffffff;
  background: transparent;
  border-radius: 5px !important;
  cursor: pointer;
}

.unwa-login-button:hover {
  background: #21c92d;
}

.unwa-login-button-logo {
  width: 150px;
  height: 30px;
  border: 0px;
}

.unwa-login-button-message {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
}

/* content container */
.unwa-content-container {
  width: 100%;
  height: 100%;
  display: flex;

  padding-left: 60px;

  animation: fadein 0.75s ease-in-out forwards;

  overflow: scroll;
}

.unwa-content-body {
  width: 100%;
  height: 100%;
  padding: 15px;

  /* display: flex; */
  /* overflow: scroll; */
}

.unwa-content-body::-webkit-scrollbar {
  width: 0px;
}

.unwa-content-body * {
  font-size: 20px;
  font-weight: 600;
}

/* create offcanvas navbar */
.unwa-content-navigator {
  width: 60px;
  height: 100%;

  position: absolute;
  border-radius: 15px !important;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;

  background: #2196f3; /* fallback for old browsers */
  background: linear-gradient(
    to top,
    #f47419,
    #f44336,
    #ff0000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  transition: all 0.3s ease-in-out;
}

.unwa-content-navigator-logos {
  position: absolute;
  height: 100%;
  width: 60px;
  padding: 10px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: start;
  gap: 10px;
}

.unwa-content-navigator-texts {
  height: 100%;
  padding: 10px 0;
  opacity: 0;
  flex: 1 1 0;
  transition: all 0.3s ease-out;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: start;
  gap: 10px;
}

.unwa-content-navigator-setting {
  position: absolute;
  bottom: 10px;
  width: 30px;
  height: 30px;
  color: white;
}

.unwa-content-navigator-hr {
  width: 80%;
  height: 1px;
  background: #ffffff;
}

.unwa-content-navigator-unwa-text {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  height: 24px;
  padding: 5px 7.5px;
}

.unwa-item-logo,
.unwa-item-text {
  color: #ffffff;
  height: 24px;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* views */

.unwa-profile-view,
.unwa-recommand-view,
.unwa-rank-view {
  animation: fadein 0.75s ease-in-out forwards;
}

.unwa-view-title {
  text-align: left;
  padding: 0;
  margin: 0;
  /* font-size: 30px; */
}

/* rank */

.unwa-rank-view {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.unwa-rank-cell {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.unwa-profile-view {
  position: relative;
  width: 100%;
  height: 100%;
}

.unwa-profile-view-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.unwa-profile-view-container > svg,
.unwa-profile-view-badge {
  width: 100%;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.unwa-recommand-view {
}
