/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import 'reset.css';

.unwa-float-button * {
  /* font-family: 'Noto Sans KR', sans-serif; */
  font-family: 'Roboto', sans-serif;
  line-height: 16px;
  box-sizing: border-box;

  background: transparent;
}

.unwa-float-button {
  padding: 0px;
  background-color: red;
  position: fixed;
  top: 50%;
  right: -6px;
  z-index: 9999999;

  border: 0px;
  cursor: pointer;
  transform: translateY(-50%);

  display: flex;
  justify-content: center;
  align-items: center;

  width: 48px;
  height: 48px;
  border-radius: 50% !important;
  transition: all 0.3s ease-in-out;
}

.unwa-float-button:hover {
  transform-origin: 50% 50%;
  transform: translateY(-50%) scale(1.5);
}

.unwa-float-button:hover::before {
  content: '';
  display: block;
  position: fixed;
  width: 50px;
  height: 50px;
  top: 50%;

  transform: translateY(-50%);
  animation: border-pulse 1s ease-in-out infinite 0.3s;
}

@keyframes border-pulse {
  0% {
    border: 1px solid red;
    border-radius: 50%;
    opacity: 1;
  }
  100% {
    border: 1px solid red;
    border-radius: 50%;
    width: 68px;
    height: 68px;
    opacity: 0;
  }
}

.unwa-clicked {
  box-shadow: rgb(0 0 0 / 30%) 0px 12px 60px 5px;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(60px);
  /* background: linear-gradient(#fff5f5, #fffafa); */
  right: 12px;

  width: 350px;
  height: 500px;
  border-radius: 15px !important;
  animation: scaling 0.3s ease-in-out 0.25s forwards;
  cursor: default;
}

.unwa-clicked:hover {
  transform: translateY(-50%) scale(1);
}

.unwa-clicked:hover::before {
  display: none;
}

@keyframes scaling {
  0% {
    transform: translateY(-50%) scale(1);
  }
  50% {
    transform: translateY(-50%) scale(1.05);
  }
  100% {
    transform: translateY(-50%) scale(1);
  }
}

.unwa-logo {
  border-radius: 5px !important;
  background: #ffffff;
  position: relative;

  color: #ff0000;
  font-size: 12px;
  font-weight: 600;
  padding: 3px 7.5px;
}

.unwa-logo-big {
  border-radius: 5px !important;
  background: #ffffff;
  position: relative;

  color: #ff0000;
  font-size: 20px;
  font-weight: 600;
  height: 24px;
  padding: 5px 7.5px;
}
